:root {

    /* Font Colors */
    --special-font: #eca400;
    --black-font: #3d0c02ff;
    --white-font: #f8f8ffff;

    /* Background Colors */
    --background1: #003A52;
    --background2: #8DAA9D;

    --HeadingFont: 'Hedvig Letters Serif', Serif;
    --ParaFont: 'Montserrat', sans-serif;
    --cursive-font: 'Dynalight', cursive;

}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: var(--HeadingFont);
}

p {
    font-family: var(--ParaFont);
}

#logo {
    text-align: left;
    width: 70%;
}

#logo img {
    width: 80%;
}

#logo:hover {
    transform: scale(1.1);
}

#header-panel {
    background: rgb(0, 58, 82, 0.7);
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    font-family: var(--HeadingFont);

}

#menu-btn::before {
    content: "︾";
}

#menu-btn {
    width: 1em;
    font-size: 40px;
    text-align: center;
    color: #f8f8ffff;
    align-content: baseline;
    text-decoration: none;
    /* border: 2px solid red; */

}

#small-nav {

    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 150px;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;

    background: var(--background2);
    font-family: var(--HeadingFont);
}

#mode {
    font-size: 40px;
    margin-top: 20px;
}

#medium-nav {
    display: none;
}

nav a {
    text-decoration: none;
    font-size: 30px;
    color: var(--black-font);
    font-family: var(--HeadingFont);

}

nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: 0.5s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    transform: scale(1.1);
    text-shadow: 5px 5px 10px var(--background1);
}

nav button {
    width: 5.5em;
    height: 2em;
    border: none;
    border-radius: 30px;
    background: var(--background1);

    font-size: 1.6rem;
    color: var(--white-font);
    margin-top: 20px;
    font-family: var(--HeadingFont);
}

.show:focus {
    height: 100%;
}

#small-nav.show {
    display: flex;
}

#menu-btn.show::before {
    content: "︽";
    position: relative;
}

header {
    /* background-image: url(../images/sokehsRock.jpeg); */
    /* background-image: url(../images/wdd230-org.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: fit-content;
    /* height: 530px; */
    position: relative;

    text-align: center;
    font-family: var(--HeadingFont);
    color: var(--white-font);
}

header h1 {
    padding: 10px;
    text-shadow: 5px 5px 10px black;
    font-size: 30px;
    z-index: 0;
    position: absolute;
    color: white;
}

header button {
    width: 5em;
    height: 2em;
    border: none;
    border-radius: 30px;
    background: var(--background1);

    font-size: 1.6rem;
    color: var(--white-font);
    margin-top: 20px;
    font-family: var(--HeadingFont);
}

header button:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px black;
}

#hero {
    width: 100%;
    position: relative;
}

#hero h1 {
    position: absolute;
    top: 0%;

    margin-bottom: 50px;
}

#dis-hero img {
    width: 100%;
    position: relative;
    z-index: -1;

    margin-top: -15%;
}

#discover #purpose {
    margin-top: 20px;
    font-size: 35px;
    margin-bottom: 20px;
}

#hero picture img {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: -1;
}

#hero button {
    position: absolute;
    z-index: 0;
    top: 70%;
    left: 50%;
    margin: 0 auto;
    margin-left: -50px;
}

main {
    margin-top: -10px;
    padding: 15px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

    background: linear-gradient(to right,
            rgb(81, 220, 81),
            white,
            rgb(81, 220, 81));

    padding-bottom: 30px;
}

#purpose {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    color: black;
}

.card {
    border: 2px solid grey;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--background2);
    border-radius: 30px;
    text-align: center;
    font-family: var(--ParaFont);
    color: black;
}

#currentEvents h2 {
    font-family: var(--HeadingFont);
    margin-bottom: -25px;
}

.sub-card {
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
    background: white;
    font-size: 18px;
    color: black;
    text-align: center;
}

#test {
    background: var(--background1);
}

.sub-card img {
    width: 50%;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#spotlights .sub-card {
    display: grid;
    grid-template-columns: 1fr;
}


#summary {
    /* border: 2px solid red; */
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -15px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 10px;
    background: var(--background2);
    margin-top: -5px;

    color: var(--black-font);
}

#contact {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-right: 10px;
    font-size: 18px;
}

#contact img {
    margin-bottom: 20px;
}

#contact p {
    margin-top: -10px;
}

#copyright-info {
    text-align: center;
    font-size: 18px;
}

#last-modified {
    font-size: 14px;
}

#discover-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#demographics {
    gap: 0;
    text-align: left;
}



.dem-category {
    font-size: 18px;
}

.discover-card h3 {
    text-align: center;
    font-size: 22px;
}

.discover-card {
    font-size: 16px;
}

#demographics p:nth-child(2) {
    font-size: 18px;
}

#sb-insights {
    text-align: left;
    font-size: 16px;
}

#sb-insights .percentage {
    font-size: 35px;
}

.discover-card button {
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 10px;
    margin: 0 auto;

    background: var(--background1);
    color: white;
}

#news .article {
    border: 5px dotted grey;
    padding: 15px;

}

#news h5 {
    font-size: 20px;
    margin-top: 5px;
}

#news p {
    font-size: 13px;
    margin-top: -25px;
}

#news button {
    margin-top: 30px;
    background: var(--background1);
    color: white;
}

#gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

#gallery img:hover {
    transform: scale(1.1);
    z-index: -1;
    transition: ease-in 2ms;
}

.photo-container {
    position: relative;
}

.photo-container p {
    position: absolute;
    top: 0;
    left: 10px;
    text-align: center;
    background-color: white;
    width: max-content;
    padding: 5px;
}

#learn-more {
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 10px;
    margin: 0 auto;

    background: var(--background1);
    color: white;
    font-family: var(--HeadingFont);
}

#learn-more:hover {
    transform: scale(1.1);
    background: var(--background2);
    border: 6px solid var(--background1);
    color: black;
}

#become-member {
    margin: 0 auto;
    text-align: center;
}