body {
    margin: 0;
    padding: 0;

    background-color: rgb(81, 81, 157);
    color: white;
}

header {
    background-color: rgb(22, 36, 89);
    height: 200px;
    margin-top: -25px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 3px solid grey;
}

header h1 {
    text-align: center;

}

main {
    width: 650px;
    margin: 0 auto;
}

main img {
    width: 100%;
    margin-top: 30px;
}

footer {
    background-color: rgb(22, 36, 89);
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}