html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    font-family: 'Rajdhani', sans-serif;
    margin: 0;
}

header {
    /* border: 2px solid red; */

    width: 100%;
    height: 200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    background: rgb(198, 186, 52);
    color: black;
}

header h1:hover {
    color: goldenrod;
}

header a {
    text-decoration: none;
    color: black;
    font-weight: 500;

}

header img {
    width: 160px;
    border-radius: 100px;
}

#menu {
    display: block;
    width: 100%;
    font-size: 2rem;
    font-weight: 200;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: black;
    color: white;
    text-align: center;
    text-shadow: 1px 3px 5px grey;
}

#menu::before {
    content: "Ξ";
}

nav {
    /* border: 2px solid red; */

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    width: 100%;
    margin: 0 auto;
    height: 300px;

    background-color: black;
}

.active {
    color: goldenrod;
}



nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.show {
    display: flex;
}

#menu.show {
    background: rgb(198, 186, 52);
    text-shadow: 1px 3px 5px black;
}

#menu.show::before {
    content: " ☓";
}

nav a:hover {
    color: goldenrod;
}

main h2 {
    /* border: 2px solid orange;  */
    border-bottom: 1px solid darkgray;

    width: 80%;
    margin: 0 auto;
    margin-top: 10px;

    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto auto;
    padding: 1.5em;
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    min-height: 300px;
    height: 100%;
    text-align: center;
    padding: 5px;
}

.card h3 {
    color: black;
    font-weight: bolder;
}

iframe {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;

}

.card ul,
.card ul a {
    text-align: left;
    text-decoration: none;
    list-style: none;
}

.card ul li {
    margin-top: 10px;
}

.card ul a:hover {
    color: goldenrod;
}

#weatherCard p:nth-of-type(1) {
    margin-top: 15%;
}

.card div {
    /* border: 2px solid purple; */
    height: 50px;
    margin-top: 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    background: rgb(198, 186, 52);
    color: black;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: max-content;
    margin: 0 auto;
    margin-top: 20px;

    background: rgb(198, 186, 52);
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

footer p {
    text-align: center;
}

#lastModified {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.hero {
    width: 100%;
    position: relative;
}

.hero img {
    width: 100%;
    object-fit: fill;
}

#hero-label {
    position: absolute;
    top: 10%;
    left: 50px;
    right: 50px;
    text-align: center;

    padding: 10px;
    border: 3px solid beige;
    background-color: white;
    min-width: max-content;
    max-width: 200px;
    flex-shrink: 1;
}

@media screen and (max-width: 370px) {
    #hero-label {
        box-sizing: border-box;
        writing-mode: vertical-lr;
    }
}